@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");



body {
  margin: 0;

  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5;
}

// postlist loader

.loader-container {
  position: fixed;
  //background-color: rgba(0,0,0,.175);
  background-color: red;
  bottom: 0;
  left: 0;
  right: 0;
}
