@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");



body {
  margin: 0;

  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5;
}

// postlist loader

.loader-container {
  position: fixed;
  //background-color: rgba(0,0,0,.175);
  background-color: red;
  bottom: 0;
  left: 0;
  right: 0;
}

.error-container{
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.error-message{
  margin-top: 150px;
}

#error-message-text{
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: .33px;
}