.friendlist-wrapper{
  box-sizing: border-box;
 height: 600px;
 width: 100%;
 //border: 4px solid red;
 padding: 16px 12px;
 display: flex;
  justify-content: flex-end;
  font-family: 'Roboto';
}

.friendlist-container{
  width: 360px;
  height: 100%;
}

.friendlist-header{
  font-weight: 600;
  line-height: 1.1765;
  font-size: 1.0625rem;
  color: #65676B;
  padding-bottom: 2px;
  margin-left: 16px;

}
.friendlist-list{
  padding: 8px;
}
.friendlist-friend{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  cursor:pointer;
}
.friendlist-friend:hover{
  background-color: rgba(0,0,0,0.075);
}

.friendlist-friend-username{
  font-size: .9375rem;
  font-weight: 700;
  line-height: 1.3333;
  letter-spacing: 0.5px;
}

.friendlist-friend-avatar{
  display: flex;
  align-items: center;
  margin-right: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
}
.friendlist-friend-avatar img{
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.friendlist-friend-lastseen-container{

  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ffff;
  border-radius: 50%;


}


.friendlist-friend-lastseen{
  background-color: #31A24C;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 2.5px;
}
///////////////////////
.left-side-bar{
  //border: 4px solid red;
  padding:16px 8px;
}

.left-side-bar-menu{
}
.left-side-bar-user-profile{
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.left-side-bar-user-profile:hover{
  background-color: rgba(0, 0, 0,0.075);

}

.left-side-bar-profile-avatar{
  display: flex;
  align-items: center;
}
.left-side-bar-profile-avatar img{
  height: 36px;
  width: 36px;
  border-radius: 50%;
}
.left-side-bar-profile-username{
  font-size: .9375rem;
  font-weight: 500;
  line-height: 1.3333;
}
.left-side-bar-user-friendlist{
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.left-side-bar-user-friendlist:hover{
  background-color: rgba(0, 0, 0,0.075);

}

.left-side-bar-user-friendlist-icon img{
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.left-side-bar-user-friendlist-tag{
  font-size: .9375rem;
  font-weight: 500;
  line-height: 1.3333;
}